<!DOCTYPE html>
<html>
    
<body>

<h2><center>Forms</center></h2>
<center>
<form action="/result" method="POST" style="background-color:grey; margin-right: 600px; margin-left: 600px;" >
  <label for="id">Id*</label><br>
  <input type="text" id="id" name="id" value="100"><br><br>
  <label for="fname">First name*:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br><br>

  <label for="lname">Last name*:</label><br>
  <input type="text" id="lname" name="lname" value="kumar"><br><br>

  <label for="dept">Dept name*:</label><br>
  <input type="text" id="dept" name="dept" value="python developer"><br>

  <label for="doj">Start Date*:</label><br>
  <input type="date" id="doj" name="doj" value="20-01-2020"><br><br>

  <label for="eod">Last Date:</label><br>
  <input type="date" id="eod" name="eod" value="20-01-2022"><br><br>

  <input type="submit" value="Submit">
</form> 
</center>

</body>
</html>
