
<!DOCTYPE html>
<html>
  <title>Form</title>
<header>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">  
</header>
<body>

    <form>
      <h1>Available Option</h1>
      <div class="icon">
        <i class="fas fa-user-circle"></i>
      </div>
      <div class="formcontainer">
        <div class="item-link"><a href="{{ url_for('form') }}"><strong>Add Record</strong></a></div><br>
        <div class="item-link"><a href="{{ url_for('showrecord') }}"><strong>Show Record</strong></a></div><br>
        <div class="item-link"><a href="{{ url_for('totalemp') }}"><strong>Count Employee in Dept</strong></a></div><br>
        <div class="item-link"><a href="{{ url_for('name') }}"><strong>Find Employee by Condition</strong></a></strong></div>
      </div>
      
    </form>
  </body>
</html>














































<!-- 
<!DOCTYPE html>
<html>
<body>

<h2>Homepage</h2>

<div style="display: inline-block;">
    <button><a href="{{ url_for('form') }}">Add Record</a></button>
    <button><a href="{{ url_for('showrecord') }}">Show Record</a></button>
    <button><a href="{{ url_for('totalemp') }}">Count Employee in Dept</a></button>
    <button><a href="{{ url_for('name') }}">Find Employee by Condition</button>
</div>
</body>
</html> -->
