<!DOCTYPE html>
<html>
    
<body>

<h2><center>Forms</center></h2>
<center>
<form action="/empwithcondition" method="POST" style="background-color:grey; margin-right: 600px; margin-left: 600px;" >
  <label for="name">Name</label><br>
  <input type="text" id="name" name="name" value="samar"><br><br>
  <label for="val">Choose Condition</label>
  <select id="val" name="val">
    <option value="startwith">Start with</option>
    <option value="endwith">End With</option>
    <option value="like">Like</option>
    <option value="upper">Upper Case</option>
    <option value="lower">Lower Case</option>
  </select>
  <input type="submit" value="Submit">
</form> 
</center>

</body>
</html>
